<footer class="footer">
    <div class="container">

        <p class="text-center">
            {{ site.title }} | Kicking nicklamer ass since 2002 - retired in 2018 | No longer powered by <strong><font color="#ff7505">BOOZZE</font><font color="#DDDDDD">GAMING</font></strong>
        </p>

        <p class="text-muted">Quake III Arena, Quake III: Team Arena, Return to Castle Wolfenstein, Wolfenstein: Enemy Territory, Doom 3, Quake 4, Enemy Territory: Quake Wars and related logos are registered trademarks or trademarks of id Software LLC in the U.S. and/or other countries. Call of Duty, Call of Duty 2, Soldier of Fortune and related logos are registered trademarks of Activision, Inc. and its affiliates. PunkBuster and related logos are a trademark of Even Balance, Inc. All other trademarks and trade names are properties of their respective owners.</p>
    </div>
</footer>
